// Jumper settings for the ads1299


JP4 for 5V to ADS1299


Page 6 of the user guide
// power supply
JP20 - connects AVSS to either AGND or -2.5V. connected to -2.5.
JP2 - connects AVDD to either 5V or 2.5 V. connected to 2.5. 
JP1 - used for programmable bias drive
JP24 - connects DVDD to either 3.3 or 1.8. Connected to 3.3 for now.
JP5 - active low in for reset and pwdn


TP 5 - 5 V
TP 13 - 2.5 V
TP 6 - -2.5 V
TP 4 - -5V



AVDD - 2.5
AVSS - -2.5

DVDD - 3.3


DGND shorted with AGND everywhere.



need to worry about 
Vref 


if clksel = 0, then 


d10 - miso
d12 - mosi
d14 - clk